.paginado {
    display: flex;
    list-style: none;
    margin-left: 500px;
  }
  .botonp {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: rgb(189, 194, 192);
    color: black;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .botonp:hover {
    background-color: rgb(235, 109, 25);
  }