.card{
    
    margin-top: 10px;
    display: grid;
    grid-template-areas:
        "img        img  "
        "content  content"
        "footer   footer "
        "   .         .  ";
    width: 250px;
    height: 350px;
    background-color: rgb(0, 0, 0);
    justify-content:  space-evenly;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.75);
    transition: ease-in-out 0.2s;
    

}

.name{
    grid-area: img;
    text-align: center;
    color: rgb(255, 106, 0);
    font-size: 25px;
    background-color: aliceblue;
}

.card:hover{
    transform: scale(1.2);
    filter: none;
}
.card:hover .imagen{
    border-radius: 10px;
}
.card:hover .name{
    color: rgb(0, 0, 0);
}
.card:hover .price{
    opacity: 1;
}

.imagen{
    margin-top: 20px;
    grid-area: img;
    width: 100%;
    height: 200px;
    display: block;
    /* border-radius: 10px 10px 0px 0px; */
    border-radius: 200px;
    transition: ease-in-out 0.2s;
}

.info{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    grid-area: content;
    background-color: rgb(214, 180, 180);
    width: 100%;
    height: 150px;
    text-align: right;
    border-radius: 10px;
}

.day{
    grid-area: content;
    font-size: 20px;
    color: rgb(255, 255, 255);
    
}

.price{
    margin-top: 15px;
    grid-area: footer;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(245, 118, 0);
    /* opacity: 0; */
}


