
.containerOpen{
    display: absolute;
    width: 30vw;
    height: 75vh;
    background-color: rgba(0, 0, 0, 0.815);
    border-radius: 5px;
    margin-top: 15vh;
    margin-left: 35vw;
    z-index: 10;
}

.containerClosed{
    display: none;
}


.containerClosed{
    display: none;
}


.image{
    width: 95%;
    height: 300px;
    object-fit: cover;
    transition: ease-in-out 0.5s;
    margin-top: 2vh;
 
}

.imageContainer{
    justify-content: center;
}

.info{
    color: #f8f8f8;
    font-size: 1rem;
    width: 95%;
    margin-left: .75vw;
    overflow: auto;
    
}
.infoDescription{
    overflow: auto;
}

.infoTitle{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: #ff4524;
}

.infoPrice{
    margin-top: 1vh;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff4524;
}

.elbo{
    height: 4vh;
    width: 8vw;
    background-color: rgb(255, 75, 43);
    color: rgb(255, 255, 255);
    font-size: 1vw;
    border-radius: 10px;
    margin-top: 2vh;
}

.horarios{
    margin-top: 2vh;
}