.principalContainer {
  height: max-content;
  width: 100%;
  margin-top: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.perfilUser {
  display: flex;
  align-items: center;
  justify-content: center;
}
.perfilUser button {
  height: 3ex;
  width: auto;
  border-radius: 2ex;
  border: none;
  color: #eb4e27;
  background-color: #111111;
  margin: 2ex;
  font-size: 1ex;
  cursor: pointer;
}

.perfilUser button:hover {
  background-color: #eb4e27;
  color: white;
}

.perfilUserName img {
  height: 10ex;
  width: 10ex;
  border-radius: 100%;
}
.perfilUserName {
  display: block;
  font-size: 3rem;
  color: #111111;
  padding-bottom: 0.5rem;
  margin-top: 2.5rem;
  transition: all 0.2s;
  filter: grayscale(1);
}
.perfilUserSub {
  display: block;
  font-size: 1.2rem;
  color: #777;
  transition: all 0.2s;
}
.perfilUserDetail {
  font-size: 1.2rem;
  font-weight: lighter;
  transition: all 0.2s;
}
.perfilUser:hover {
  /* transform: scale(1); */
  background: rgba(255, 253, 253, 0.4);
}
.perfilUser:hover .perfilUserSub,
.perfilUser:hover .perfilUserDetail {
  color: #111111;
}
.perfilUserName:hover {
  filter: none;
}
.perfilUser:hover .perfilUserName {
  color: #eb4e27;
}
