.detail-open{
    z-index: 1;
    display: block;
    transition: ease-in-out 2s;
}
.detail-closed{
    z-index: 1;
    display: none;
}


.bot-closed{
    position: absolute;
    margin-top: 45vh;
    visibility: hidden;
}

.bot-open{
    position: absolute;
    margin-top: 45vh;
    visibility: visible;
    transition: ease-in-out 2s;
}