.cards{
    z-index: 0;
    grid-area: activities;
    display: grid;
    margin: 8vw;
    margin-top: 5vh;
    grid-template-columns: repeat(auto-fill, minmax(12vw, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30vh, 1fr));
}

