.cards{
    z-index: 0;
    grid-area: activities;
    display: grid;
    margin-left: 5vw;
    margin-top: 5vh;
    align-content: center;
    justify-content: space-evenly;
  
    grid-template-columns: repeat(auto-fill, minmax(15vw, 2fr));
    grid-template-rows: repeat(auto-fill, minmax(30vh, 1fr));
}



