:root{
    --red : #eb4e27;
    --black-1 : rgb(7, 24, 22);
    --black-2 : rgb(26, 5, 5);
}
.reviewCardContainer{
    /* min-height: 20em;  */
    width: 80%;
    height: 50vh;
    padding: 2rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right bottom,var(--red), var(--black-2));
    border-radius: 1rem;
    filter: brightness(90%);
    box-shadow: 0 2px 2rem rgba(0,0,0,.75);
    transition: all .3s ease-out;
}
.reviewCardContainer:hover{
    filter: brightness(100%);
}
.reviewCardImg{
    height: 7rem;
    width: 7rem;
    object-fit: contain;
    object-position: top;
    clip-path: circle(50%);
    display: block;
    margin: 0 auto 1.5rem auto;
    transition: filter .3s;
    filter: sepia(.5);
}
.reviewCardImg:hover{
    filter: sepia(0);
}
.reviewCardDesc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.reviewCardName{
    text-transform: uppercase;
    color: white;
    text-align: center;
    /* border-top: 1px solid white; */
    font-size: 1rem;
}
.reviewCardRating{
    font-size: 1rem;
}
.reviewCardContent{
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
    color: #777;
    font-weight: lighter;
}

@media (min-width:800px){
    .reviewCardContainer{
        width: 90vw;
        /* min-width: 25rem;
        max-height: 50vh; */
        height: 40vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .reviewCardText{
        flex-basis: 60%;
    }
    .reviewCardImg{
        height: 12rem;
        width: 12rem;
        clip-path: circle(50%);
        object-fit: contain;
        object-position: top;
        display: block;
        margin: 0 auto;
    }
    .reviewCardName{
        border-top: none;
        font-size: 1.5rem;
    }
    .reviewCardRating{
        font-size: 3.5rem;
    }
    .reviewCardContent{
        font-size: 1.2rem;
    }
}