.background{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/buy_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(10%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgba(0,0,0,0.5);
    width: 40vw;
    height: 100%;
    display: grid; 
    grid-template-areas:    "  name     "
                            "  trainers "
                            "  image    "
                            "  descr    "
                            "  day      "
                            "  hour     "
                            "  price    "
                            "  capa     "
    ;
    justify-content: center;
}

.name{
    grid-area: name;
    font-size: 2.5vw;
    color: rgb(221, 221, 221);
    
}

.image{
    grid-area: image;
    width: 100%;
    filter: grayscale(0%);
    margin-top: -1vw;
}
.description{
    background-color: rgba(0, 0, 0, 0.815);
    grid-area: descr;
    font-size: .8vw;
    color: rgb(221, 221, 221);
    margin-top: -1vw;
    align-self: center;
}
.day{
    grid-area: day;
    font-size: 1vw;
    color: rgb(0, 0, 0);
}
.hour{
    grid-area: hour;
    font-size: 1vw;
    color: rgb(0, 0, 0);
}
.price{
    grid-area: price;
    font-size: 1vw;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 102, 0);
    height: 1.2vw;
}
.capacity{
    grid-area: capa;
    font-size: 1vw;
    color: rgb(189, 189, 189);
}

.trainers{
    grid-area: trainers;
    margin-top: -3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 81, 0);
    font-size: 1vw;
}

.trainer{
    margin-left: 1vw;
    font-size: 1vw;
    color: rgb(255, 255, 255);
}

.botonera{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -1vw;
}

.elbo{
    height: 5vh;
    width: 10vw;
    background-color: rgb(255, 75, 43);
    color: rgb(255, 255, 255);
    font-size: 1vw;
    border-radius: 10px;
}

.elbo:hover{
    background-color: rgb(255, 38, 0);
    color: rgb(0, 0, 0);
}