/* .footer-container{
    margin-top: -17vh;
    width: 100vw;
    background-color: #000000;
    z-index: -1;
} */


.All{
    position: relative;
    bottom:0;
    width:100%;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    height: 5rem;
    background-image: linear-gradient(rgb(129, 11, 11),  rgba(83, 4, 4, 0.734), rgba(48, 1, 1, 0.679));
    text-decoration: none;
}

.Name{
    margin-left: 25rem;
    color: white;
    max-width: 10rem;
    max-height: 2.5rem;
    justify-content: center;
    font-size: 1.3rem;
}

.fa{
    margin-left: 4rem;
    max-width: 2rem;
    max-height: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: #b5bcf3
}

.About{
    margin-right: 20rem;
    color: white;
    max-width: 8rem;
    max-height: 2.5rem;
    justify-content: center;
}

.Rules{
    margin-right: 15rem;
    color: white;
    max-width: 2.5rem;
    max-height: 2.5rem;
}

