

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    background-image: url("../../assets/clases_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    grid-template-areas: "leftInfo activities";
    grid-template-columns: 33vw 1fr;
   
}


.info {
    grid-area: leftInfo;
    background-color: #000000b9;
    border-radius: 15px;
    height: 85vh;
    width: 25vw;
    margin: 5rem;
    display: grid;
    grid-template-areas: "sup  "
                         " inf ";
    grid-template-rows: 1fr 10vh;
    justify-content: center;


}

.info p {
    grid-area: sup;
    opacity: 1;
    font-size: 8vw;
    color: white;
    margin-top: 0vh;
}

.info p:nth-child(2) {
    font-size: 3vw;
    top: 10rem;
    left: 7rem;
    margin-top: 15vh;
}
.info p:nth-child(3) {
    font-size: 1.5vw;
    color: #ff5e00;
    margin-top: 23vh;
}

.donWait{
    grid-area: inf;
    background-color:rgb(255, 255, 255);
    height: 8vh;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    font-size: 2vw;
    width: 20vw;
    color: #ff0000;
    border-radius: 15px;
  
}

.elButton{
    grid-area: sup;
    font-size: 1.5vw;
    background-color: #ff5e00;
    color: #ffffff;
    margin-top: 200px;
    align-self: center;
    justify-self: center;
    height: 9vh;
    width: 18vw;
    border-radius: 15px;
}
.elButton:hover{
    background-color: #ff0000;

}

.clases {
    grid-area: activities;
    background-color: #ff670280;
    height: 85vh;
    margin: 5rem;
    display: flex-box;

}

.navBar{
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    align-content:center;
    background-color: #000000;
    height: 13vh;
    width: 100%;
    margin-top: 7vh;
    color: #ffffff;
    font-size: 2vw;
    font-weight: bold;
}

