.container {
    grid-area: cart;
    display: flex;
    flex-direction: column;
    width: 83%;
    height: 88%;
    padding: 0;
    align-self: center;
    justify-self: center;
    background-color: #fafafad0;
    border-radius: 10px;

}

.title{
    font-size: 2vw;
    color: rgb(148, 141, 141);
    background-color:rgb(0, 0, 0);
    width: 100%;
    justify-content: flex-start;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}