.topBarContainer {
  background-color: transparent;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleTopBar span {
  font-family: sans-serif;
  font-size: 32px;
  margin-left: 20px;
  color: white;
}
.userAndNotification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.notificationIcon {
  width: 30px;
  height: 30px;
}
.notificationIcon img {
  object-fit: cover;
  width: 30px;
  height: 30px;
}
.counterNotification {
  background-color: #fe4f22;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  position: relative;
  bottom: 15px;
  left: 25px;
  font-size: 12px;
  font-family: sans-serif;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.logoUser {
  background-color: whitesmoke;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.logoUser img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

@media screen and (max-width: 600px) {
  .logoUser {
    width: 30px;
    height: 30px;
  }
  .logoUser img {
    width: 30px;
    height: 30px;
  }
  .titleTopBar span {
    font-size: 18px;
  }
}
