.userPrincipalContainer{
    height: 100%;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.userTitleAndAddBtn{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}
.userNameSeccion{
    color: white;
    font-size: 2rem;
}
.userAddBtn{
    border: none;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    padding: 10px;
    width: auto;
    font-size: 14px;
    height: 40px;
    background-color: #fe4f22;
}
.userAddBtn:hover {
    cursor: pointer;
   /*  transition: all 0.5s;
  color: darkgrey; */
}
.userAddBtn:focus {
    outline: none;
}
.userCardLayout{
    margin-top: 20px;
    height: 30vh;
    width: 50vw; /* ver por tema responsive */
    background-color: white;
    /* overflow: scroll; */
}