/* .userPrincipalContainer{
    height: 100%;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
} */
/* 

/* .userTitleAndAddBtn{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}
.userNameSeccion{
    color: white;
    font-size: 2rem;
}
.userAddBtn{
    border: none;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    padding: 10px;
    width: auto;
    font-size: 14px;
    height: 40px;
    background-color: #fe4f22;
    cursor: pointer;
}
.userAddBtn:hover {
    cursor: pointer;
    background-color: #fdede9;
    transition: all .3s;
    color: #eb4e27; */
/* } */

/* .userAddBtn:focus {
    outline: none;
}
.userCardLayout{
    margin-top: 20px;
    height: 30vh;
    width: 50vw; 
    background-color: white;
    overflow: scroll; 
}
.containerTable{
    width: 50vw; ver por tema responsive
    background-color: white;
    overflow: scroll;
} */
/* .containerTable{
    background-color: #fdede9;
    border-collapse: collapse;
    width: 100%;
}

 .columnas, .filas {
    padding: 0;
}
.encabezado{
    background-color: #fe4f22;
    border-bottom: solid 3px black;
    color: white;
}
.tableRow:hover{
    background-color: #fe4f22;
    color: white;
} */

