/* .userPrincipalContainer{
    height: 100%;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
} */
/* 

/* .userTitleAndAddBtn{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}
.userNameSeccion{
    color: white;
    font-size: 2rem;
}
.userAddBtn{
    border: none;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    padding: 10px;
    width: auto;
    font-size: 14px;
    height: 40px;
    background-color: #fe4f22;
    cursor: pointer;
}
.userAddBtn:hover {
    cursor: pointer;
    background-color: #fdede9;
    transition: all .3s;
    color: #eb4e27; */
/* } */

/* .userAddBtn:focus {
    outline: none;
}
.userCardLayout{
    margin-top: 20px;
    height: 30vh;
    width: 50vw; 
    background-color: white;
    overflow: scroll; 
}
.containerTable{
    width: 50vw; ver por tema responsive
    background-color: white;
    overflow: scroll;
} */
/* .containerTable{
    background-color: #fdede9;
    border-collapse: collapse;
    width: 100%;
}

 .columnas, .filas {
    padding: 0;
}
.encabezado{
    background-color: #fe4f22;
    border-bottom: solid 3px black;
    color: white;
}
.tableRow:hover{
    background-color: #fe4f22;
    color: white;
} */

.myActivitiesContainer{
    width: 100%;
    display: flex;
    max-width: 100%;
}
.myActivitiesCard{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.myActivitiesCard:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.myActivitiesCard img{
    width: 100%;
    height: 210px;
}
.myActivitiesCard p{
    padding: 15px;
    text-align: center;
}

